
.actor.selected

	.shadow
		border solid 2px red
		left -7px
		top 65px

.actor
	height:0px;
	width:0px;
	position:absolute;
	top: 0px;
	left:0px;

	.shadow
		width 45px
		height 15px
		background black
		position absolute
		top 67px
		left -6px
		z-index -10
		border-radius 20px / 9px
		transform all 1s

	.animation-container {
		height:36px;
		width:32px;
		position:relative;
		margin-top: -75px;
		margin-left: -15px;
		z-index: -10;
		opacity 1 !important
		border solid 1px red
	}

	.flip-horizontal .animation-container {
	    -moz-transform: 	scaleX(-1);
	    -webkit-transform: 	scaleX(-1);;
	    -o-transform: 		scaleX(-1);
	    transform: 			scaleX(-1);
	    -ms-filter: 		fliph;
	    filter: 			fliph; 
	}

	.animation-container .shoulder,
	.animation-container .elbow,
	.animation-container .hip,
	.animation-container .knee {
		height:20px;
		width:8px;
		border:solid 1px black;
		position:absolute;
		-webkit-transform-origin: 50% 0;
		-moz-transform-origin: 50% 0;
		background:#787878;
	}

	.head {
		width:44px;
		height:44px;
		border:solid 1px black;
		margin-top: -44px;
		margin-left: -7px;
		background: #fff;
		position:absolute;
		z-index: 2;
	}

	.body {
		border:solid 1px black;
		height:36px;
		width:32px;
		position:absolute;
		background:#eee;
		z-index: 1;
		top:0px;
	}

	.right-shoulder {
		top:0px;
		left:-8px;
		z-index: 3;
		background: #fff;
	}

	.left-shoulder {
		top:0px;
		right:-8px;
		z-index:-1;
		background: #fff;
	}

	.right-hip {
		bottom:-20px;
		left:5px;
		z-index:-1;
	}

	.left-hip {
		bottom:-20px;
		right:5px;
		z-index:-2;
	}

	.elbow, .knee {
		bottom:-20px;
		margin-left:-1px;
	}

	.knee {
		background #fff
	}

	.elbow:after {
		content: " ";
		z-index: 1000;
		border:solid 1px black;
		background:#00ffff;
		height:20px;
		width:8px;
		display:block;
		margin:-1px;
	}

	.item {
		width: 40px;
		height: 15px;
		border:solid 1px black;
		position:absolute;
		display:none;
	}

	.sword {
		bottom:-7px;
		left: -3px;
		display:block;
		background: #fff;
		-webkit-transform: translateZ(-1px) !important;
		z-index: -1;
	}