html
  overflow-y:scroll !important;
  background #eee

html, body, #lost-goblin-app
	margin 0px
	padding 0px
	height 100%
	width 100%

.main-container
	width 100%
	background rgb(76, 73, 68) url(images/low-poly-tile-dark.jpg);
	overflow-x hidden

	.non-parallax-content
		background rgb(76, 73, 68) url(images/low-poly-tile-dark.jpg);
		z-index 2
		position relative
		width 100%		