.parallax-container
	position relative
	top 0px
	z-index 1
	height 900px
	width 100%

	@media(max-width 800px)
		height 700px

	@media(max-width 600px)
		height 500px

	.parallax-image
		position fixed
		background url(images/GoE_Background.jpg) no-repeat center top
		min-width 800px
		height 900px
		opacity 1 !important
		width 100%
		top 0px

		@media(max-width 800px)
			background-size 180% 100%


		


