.social-media-icons
	display flex
	flex-direction row
	justify-content center

	a
		color white
		display block
		height 62px
		width 62px
		box-sizing border-box
		margin 5px
		background #6E485A
		line-height 62px
		font-size 20px

		&:hover
			background #603F4F